<a href="https://colab.research.google.com/github/juanjtov/Restaurants-Digitalization-in-Colombia/blob/main/Restaurants_Digitalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SET UP

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/'
!ls

/content/drive/My Drive
 age_gendersm.csv			   llamada_issues.csv
 age_sm.csv				  'personal website JJ.gjam'
 azurebook.pdf				  'Proyecto final Juan José Tovar.mp4'
 Blog					   rappi_issues.csv
'Colab Notebooks'			   rappi_issues.xlsx
'Complejidad Algorítmica.gdoc'		   rappivsissues.csv
'Copy of poblacion.csv'			   rappivsissues.gsheet
'Copy of Prueba técnica 1.0.8.gdoc'	   redessociales.csv
'Dashboard NLP.gjam'			   Restaurants_Digitalization.ipynb
 DEVELOPER				   rest_survey.csv
'Digitalización de los Restaurantes.csv'   rest_survey.xls
 Finances				   rest_survey.xlsx
 Hackaton				   results.xls
 Images					   smpref_freq.csv
 LATECH					  'Untitled document (1).gdoc'
'leasing contract Apr-Jul.pdf'		  'Untitled document.gdoc'
'Lecole Estrategias.gdoc'		  'Untitled presentation.gslides'


#Load the Survey Results

In [4]:
df_rest = pd.read_csv('/content/drive/My Drive/Digitalización de los Restaurantes.csv', usecols=[*range(1,15)], index_col=False)
df_rest.head

<bound method NDFrame.head of     ¿Cuál es su edad?  ... ¿Qué tipo de información quisiera recibir sobre su restaurante?
0       Entre 20 y 35  ...                 Promociones;Recetas/Tips de cocina
1       Entre 35 y 45  ...                          Promociones;Menu;Horarios
2         Mayor de 45  ...                                        Promociones
3       Entre 20 y 35  ...                                        Promociones
4       Entre 20 y 35  ...   Promociones;Menu;Recetas/Tips de cocina;Horarios
..                ...  ...                                                ...
154     Entre 20 y 35  ...                                   Promociones;Menu
155     Entre 20 y 35  ...                                           Horarios
156     Entre 35 y 45  ...                                      Menu;Horarios
157     Entre 20 y 35  ...                                   Promociones;Menu
158     Entre 20 y 35  ...                                        Promociones

[159 rows x 14 columns]>

In [5]:
#@title Check the columns
df_rest.columns, len(df_rest.columns)

(Index(['¿Cuál es su edad?', 'Género',
        '¿Cuál es su preferido en estos tiempos de pandemia?',
        '¿Cuáles medidas de BIOSEGURIDAD han sido adaptadas por los restaurantes en su ciudad? (varias)',
        '¿Cuáles de las medidas de BIOSEGURIDAD le gustaría que permanecieran aun después de esta pandemia? (varias)',
        'Si ordenara un domicilio, ¿Cuál es su tipo de comida favorita?',
        '¿Cuál considera que es el principal problema a la hora de ordenar un domicilio?',
        '¿Cuál es su medio favorito para ordenar un domicilio?',
        '¿Le gustaría ordenar su comida a través de una aplicación para el celular y/o página web propia de cada restaurante? ',
        '¿Utiliza redes sociales? ', 'Si utiliza redes sociales, ¿cuáles? ',
        'Sí su restaurante favorito utilizara redes sociales, ¿lo seguiría?',
        '¿Le gustaría recibir información de sus restaurantes favoritos a través de las redes sociales? ',
        '¿Qué tipo de información quisiera recibir sobre su restaurante?'],
       dtype='object'), 14)

# DATA WRANGLING

## Clean unuseful columns and rename the remaining ones

In [6]:

df_rest.drop(['¿Utiliza redes sociales? ', '¿Le gustaría recibir información de sus restaurantes favoritos a través de las redes sociales? ', 'Sí su restaurante favorito utilizara redes sociales, ¿lo seguiría?' ], axis = 1, inplace=True) 
df_rest.columns, len(df_rest.columns)

(Index(['¿Cuál es su edad?', 'Género',
        '¿Cuál es su preferido en estos tiempos de pandemia?',
        '¿Cuáles medidas de BIOSEGURIDAD han sido adaptadas por los restaurantes en su ciudad? (varias)',
        '¿Cuáles de las medidas de BIOSEGURIDAD le gustaría que permanecieran aun después de esta pandemia? (varias)',
        'Si ordenara un domicilio, ¿Cuál es su tipo de comida favorita?',
        '¿Cuál considera que es el principal problema a la hora de ordenar un domicilio?',
        '¿Cuál es su medio favorito para ordenar un domicilio?',
        '¿Le gustaría ordenar su comida a través de una aplicación para el celular y/o página web propia de cada restaurante? ',
        'Si utiliza redes sociales, ¿cuáles? ',
        '¿Qué tipo de información quisiera recibir sobre su restaurante?'],
       dtype='object'), 11)

In [11]:
df_rest.columns = ['Edad','Genero','Preferencias', 'Bioseguridad en restaurantes', 'Bioseguridad Despues de Pandemia', 'Comida Favorita a Domicilio', 'Problemas Domicilio', 'Medio Favorito para Ordener', 'Pedir por Internet', 'Cuales Redes Sociales', 'Preferencias SM']
df_rest.columns, df_rest.head()

(Index(['Edad', 'Genero', 'Preferencias', 'Bioseguridad en restaurantes',
        'Bioseguridad Despues de Pandemia', 'Comida Favorita a Domicilio',
        'Problemas Domicilio', 'Medio Favorito para Ordener',
        'Pedir por Internet', 'Cuales Redes Sociales', 'Preferencias SM'],
       dtype='object'),
             Edad  ...                                   Preferencias SM
 0  Entre 20 y 35  ...                Promociones;Recetas/Tips de cocina
 1  Entre 35 y 45  ...                         Promociones;Menu;Horarios
 2    Mayor de 45  ...                                       Promociones
 3  Entre 20 y 35  ...                                       Promociones
 4  Entre 20 y 35  ...  Promociones;Menu;Recetas/Tips de cocina;Horarios

 [5 rows x 11 columns])

In [13]:
df_rest.rename(columns={'Medio Favorito para Ordener':'Medio Favorito Para Ordenar'}, inplace=True)
df_rest.columns

Index(['Edad', 'Genero', 'Preferencias', 'Bioseguridad en restaurantes',
       'Bioseguridad Despues de Pandemia', 'Comida Favorita a Domicilio',
       'Problemas Domicilio', 'Medio Favorito Para Ordenar',
       'Pedir por Internet', 'Cuales Redes Sociales', 'Preferencias SM'],
      dtype='object')

## Create the saving paths

In [ ]:
#@title Save Dataset  as a csv
path = '/content/drive/My Drive/rest_survey.csv'
df_rest.to_csv(path, index=False)

In [ ]:
#@title Save Data set as spreadsheet
path_2 = '/content/drive/My Drive/rest_survey.xls'
df_rest.to_excel(path_2, encoding="utf-8", index=False)

# ANALYSIS

Searching correlations among the results: preferred social network, delivery method an so on. As well as, correlation between the preferred delivery methods and main issues

## Social Networks Analysis

In [16]:
df_redes = df_rest[['Cuales Redes Sociales']].copy()
df_redes

                   Cuales Redes Sociales
0            Instagram;Facebook;Whatsapp
1            Instagram;Facebook;Whatsapp
2                               Whatsapp
3                              Instagram
4    Instagram;Facebook;Twitter;Whatsapp
..                                   ...
154  Instagram;Facebook;Twitter;Whatsapp
155          Instagram;Facebook;Whatsapp
156                             Whatsapp
157                   Instagram;Whatsapp
158          Instagram;Facebook;Whatsapp

[159 rows x 1 columns]

## Rappi vs Issues

In [12]:
df_rest.columns

Index(['Edad', 'Genero', 'Preferencias', 'Bioseguridad en restaurantes',
       'Bioseguridad Despues de Pandemia', 'Comida Favorita a Domicilio',
       'Problemas Domicilio', 'Medio Favorito para Ordener',
       'Pedir por Internet', 'Cuales Redes Sociales', 'Preferencias SM'],
      dtype='object')

In [18]:
#@title Rappi vs Issues
df_issues = df_rest[['Medio Favorito Para Ordenar', 'Problemas Domicilio']].copy()
df_issues

            Medio Favorito Para Ordenar                                Problemas Domicilio
0                                 Rappi  Mala Comunicación/errores en la orden;Tiempo d...
1    Llamar directamente al restaurante                   Tiempo de espera;Costos de envio
2                                 Rappi                                   Tiempo de espera
3                                 Rappi              Mala Comunicación/errores en la orden
4    Llamar directamente al restaurante                   Metodos de pago;Tiempo de espera
..                                  ...                                                ...
154  Llamar directamente al restaurante                                   Tiempo de espera
155                               Rappi                                   Tiempo de espera
156                    www.liferando.de                                   Tiempo de espera
157  Llamar directamente al restaurante                                   Tiempo de espera
158                           Uber Eats                                    Costos de envio

[159 rows x 2 columns]

## Call for an order and  main delivery issues

In [19]:
df_issues = df_issues.set_index(['Medio Favorito Para Ordenar']).sort_index()
df_issues

                                                           Problemas Domicilio
Medio Favorito Para Ordenar
Domicilios.com               Mala Comunicación/errores en la orden;Tiempo d...
Domicilios.com                                                Tiempo de espera
Ifood                        Mala Comunicación/errores en la orden;Costos d...
Ifood                        Medios de pago;Tiempo de espera;Costos de envi...
Ifood                                         Tiempo de espera;Costos de envio
...                                                                        ...
Uber Eats                                                     Tiempo de espera
Uber Eats                                                      Costos de envio
Uber Eats                                      Metodos de pago;Costos de envio
Uber Eats                                                      Costos de envio
www.liferando.de                                              Tiempo de espera

[159 rows x 1 columns]

In [20]:
#@title Looking for call preferences
df_llamada = df_issues.loc['Llamar directamente al restaurante',:]
df_llamada

                                                                  Problemas Domicilio
Medio Favorito Para Ordenar
Llamar directamente al restaurante                                   Tiempo de espera
Llamar directamente al restaurante                                   Tiempo de espera
Llamar directamente al restaurante  Mala Comunicación/errores en la orden;Costos d...
Llamar directamente al restaurante                   Tiempo de espera;Costos de envió
Llamar directamente al restaurante                   Tiempo de espera;Costos de envió
...                                                                               ...
Llamar directamente al restaurante  Mala Comunicación/errores en la orden;Tiempo d...
Llamar directamente al restaurante                   Tiempo de espera;Costos de envio
Llamar directamente al restaurante                                   Tiempo de espera
Llamar directamente al restaurante                                    Costos de envio
Llamar directamente al restaurante        Tiempo de espera;Daños en el pedido/empaque

[85 rows x 1 columns]

## Transforming to Dictionaries and Dataframes

### Frequencies Calculations

In [21]:
dict_redes = {}
dict_redes['Whatsapp'] = df_redes['Cuales Redes Sociales'].str.count("Whatsapp").sum()
dict_redes['Instagram'] = df_redes['Cuales Redes Sociales'].str.count("Instagram").sum()
dict_redes['Facebook'] = df_redes['Cuales Redes Sociales'].str.count("Facebook").sum()
dict_redes['Twitter'] = df_redes['Cuales Redes Sociales'].str.count("Twitter").sum()
dict_redes['Telegram'] = df_redes['Cuales Redes Sociales'].str.count("Telegram").sum()
dict_redes['TikTok'] = df_redes['Cuales Redes Sociales'].str.count("Tiktok").sum()

dict_redes

{'Facebook': 121.0,
 'Instagram': 127.0,
 'Telegram': 1.0,
 'TikTok': 1.0,
 'Twitter': 53.0,
 'Whatsapp': 151.0}

In [26]:
#@title Social Network Dataframe
df_redes_final = pd.DataFrame(dict_redes.items(), columns=['Red Social','Frecuencia'])
df_redes_final

  Red Social  Frecuencia
0   Whatsapp       151.0
1  Instagram       127.0
2   Facebook       121.0
3    Twitter        53.0
4   Telegram         1.0
5     TikTok         1.0

In [27]:
#@title Call Issues Dictionary and Dataframe
issues_llamada = {}
issues_llamada['Tiempo de espera'] = df_llamada['Problemas Domicilio'].str.count("Tiempo de espera").sum()
issues_llamada['Errores en la orden']= df_llamada['Problemas Domicilio'].str.count("errores en la orden").sum()
issues_llamada['Costos de envío'] = df_llamada['Problemas Domicilio'].str.count("Costos de envió|Costos de envio").sum()
issues_llamada['Daños en el pedido'] = df_llamada['Problemas Domicilio'].str.count("Daños en el pedido").sum()
issues_llamada['Métodos de Pago'] = df_llamada['Problemas Domicilio'].str.count("Metodos de pago").sum()
issues_llamada['Mala Comunicación'] = df_llamada['Problemas Domicilio'].str.count("Mala Comunicación").sum()
issues_llamada['Daños en el pedido'] = df_llamada['Problemas Domicilio'].str.count("Daños en el pedido").sum()

df_llamada_issues = pd.DataFrame(issues_llamada.items(), columns=['Problema', 'Frequencia'])
df_llamada_issues

              Problema  Frequencia
0     Tiempo de espera        56.0
1  Errores en la orden        23.0
2      Costos de envío        30.0
3   Daños en el pedido        23.0
4      Métodos de Pago         7.0
5    Mala Comunicación        23.0

In [ ]:
#@title Finding Rappi
#@title Select the value of the index you're looking for
df_rappi = df_issues.loc['Rappi',:]
df_rappi

In [ ]:
df_rappi, df_rappi.shape

(                                                           Problemas Domicilio
 Medio Favorito Para Ordenar
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                                                         Tiempo de espera
 Rappi                                                         Tiempo de espera
 Rappi                         Metodos de pago;Tiempo de espera;Costos de envio
 Rappi                               Costos de envio;Daños en el pedido/empaque
 Rappi                                                         Tiempo de espera
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                              Tiempo de espera;Daños en el pedido/empaque
 Rappi                                           Medios de pago;Costos de envió
 Rappi                              Tiempo de espera;Daños en el pedido/empaque
 Rappi                                                         Tiempo de espera
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                                         Tiempo de espera;Costos de envió
 Rappi                                                         Tiempo de espera
 Rappi                                         Tiempo de espera;Costos de envio
 Rappi                         Metodos de pago;Tiempo de espera;Costos de envio
 Rappi                                                         Tiempo de espera
 Rappi                                                          Costos de envio
 Rappi                              Tiempo de espera;Daños en el pedido/empaque
 Rappi                              Tiempo de espera;Daños en el pedido/empaque
 Rappi                                         Tiempo de espera;Costos de envio
 Rappi                               Costos de envio;Daños en el pedido/empaque
 Rappi                        Mala Comunicación/errores en la orden;Metodos ...
 Rappi                        Mala Comunicación/errores en la orden;Metodos ...
 Rappi                         Metodos de pago;Tiempo de espera;Costos de envio
 Rappi                                    Mala Comunicación/errores en la orden
 Rappi                                                         Tiempo de espera
 Rappi                        Mala Comunicación/errores en la orden;Metodos ...
 Rappi                                          Metodos de pago;Costos de envio
 Rappi                                         Tiempo de espera;Costos de envio
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                        Tiempo de espera;Daños en el pedido/empaque;Co...
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                                                          Costos de envió
 Rappi                                         Tiempo de espera;Costos de envio
 Rappi                                                         Tiempo de espera
 Rappi                                         Tiempo de espera;Costos de envió
 Rappi                                                          Costos de envió
 Rappi                                         Tiempo de espera;Costos de envió
 Rappi                               Costos de envió;Daños en el pedido/empaque
 Rappi                                         Tiempo de espera;Costos de envió
 Rappi                                         Tiempo de espera;Costos de envió
 Rappi                        Mala Comunicación/errores en la orden;Tiempo d...
 Rappi                                                         Tiempo de espera
 Rappi                                                         Tiempo de espera
 Rappi                              Tiempo de espera;Daños en el pedido/empaque,
 (48, 1))

In [28]:
#@title Main Rappi issues
issues = {}
issues['Tiempo de espera'] = df_rappi['Problemas Domicilio'].str.count("Tiempo de espera").sum()
issues['Errores en la orden']= df_rappi['Problemas Domicilio'].str.count("errores en la orden").sum()
issues['Costos de envío'] = df_rappi['Problemas Domicilio'].str.count("Costos de envió|Costos de envio").sum()
issues['Daños en el pedido'] = df_rappi['Problemas Domicilio'].str.count("Daños en el pedido").sum()
issues['Métodos de Pago'] = df_rappi['Problemas Domicilio'].str.count("Metodos de pago").sum()
issues['Mala Comunicación'] = df_rappi['Problemas Domicilio'].str.count("Mala Comunicación").sum()
issues['Daños en el pedido'] = df_rappi['Problemas Domicilio'].str.count("Daños en el pedido").sum()

df_rappi_issues = pd.DataFrame(issues.items(), columns=['Problema', 'Frequencia'])
df_rappi_issues

              Problema  Frequencia
0     Tiempo de espera          38
1  Errores en la orden          12
2      Costos de envío          25
3   Daños en el pedido          13
4      Métodos de Pago           7
5    Mala Comunicación          12

### Save and Export

In [ ]:
#@title Save Social Network Preferences
df_redes_final.to_csv('/content/drive/My Drive/redessociales.csv', encoding='utf-8', index=False)

In [ ]:
#@title Export Issues for call Preferences
path_llamada = '/content/drive/My Drive/llamada_issues.csv'
df_llamada_issues.to_csv(path_llamada, encoding='utf-8', index=False)

In [ ]:
#@title Export Rappi vs Issues
path_rappi = '/content/drive/My Drive/rappi_issues.csv'
df_rappi_issues.to_csv(path_rappi, encoding='utf-8', index=False)

## Age vs Social Media Preferences

In [29]:
df_rest.head(), df_rest.columns

(            Edad  ...                                   Preferencias SM
 0  Entre 20 y 35  ...                Promociones;Recetas/Tips de cocina
 1  Entre 35 y 45  ...                         Promociones;Menu;Horarios
 2    Mayor de 45  ...                                       Promociones
 3  Entre 20 y 35  ...                                       Promociones
 4  Entre 20 y 35  ...  Promociones;Menu;Recetas/Tips de cocina;Horarios

 [5 rows x 11 columns],
 Index(['Edad', 'Genero', 'Preferencias', 'Bioseguridad en restaurantes',
        'Bioseguridad Despues de Pandemia', 'Comida Favorita a Domicilio',
        'Problemas Domicilio', 'Medio Favorito Para Ordenar',
        'Pedir por Internet', 'Cuales Redes Sociales', 'Preferencias SM'],
       dtype='object'))

In [30]:
#@title Create a new data frame for analysis
df_age_sm = df_rest[['Edad', 'Preferencias SM']].copy()
df_age_sm

              Edad                                   Preferencias SM
0    Entre 20 y 35                Promociones;Recetas/Tips de cocina
1    Entre 35 y 45                         Promociones;Menu;Horarios
2      Mayor de 45                                       Promociones
3    Entre 20 y 35                                       Promociones
4    Entre 20 y 35  Promociones;Menu;Recetas/Tips de cocina;Horarios
..             ...                                               ...
154  Entre 20 y 35                                  Promociones;Menu
155  Entre 20 y 35                                          Horarios
156  Entre 35 y 45                                     Menu;Horarios
157  Entre 20 y 35                                  Promociones;Menu
158  Entre 20 y 35                                       Promociones

[159 rows x 2 columns]

In [31]:
#@title Set and sort index
df_ageind_sm = df_age_sm.set_index(['Edad']).sort_index()
df_ageind_sm

                                                Preferencias SM
Edad
Entre 20 y 35                Promociones;Recetas/Tips de cocina
Entre 20 y 35                         Promociones;Menu;Horarios
Entre 20 y 35           Promociones;Menu;Recetas/Tips de cocina
Entre 20 y 35                         Promociones;Menu;Horarios
Entre 20 y 35                                  Promociones;Menu
...                                                         ...
Mayor de 45                           Promociones;Menu;Horarios
Mayor de 45                                         Promociones
Mayor de 45                              Recetas/Tips de cocina
Menor de 20                Menu;Recetas/Tips de cocina;Horarios
Menor de 20    Promociones;Menu;Recetas/Tips de cocina;Horarios

[159 rows x 1 columns]

In [ ]:
#@title Reordering
df_menor20 = df_ageind_sm.loc['Menor de 20',:]
df_20_35 = df_ageind_sm.loc['Entre 20 y 35',:]
df_35_45 = df_ageind_sm.loc['Entre 35 y 45',:]
df_mayor45 = df_ageind_sm.loc['Mayor de 45',:]
df_menor20, df_20_35, df_35_45, df_mayor45

### Dictionaries and Dataframes for AGE and SM Preferences

In [33]:
#@title Filtering the dataset
age_dic_sm = {}
age_dic_sm_20_35 = {}
age_dic_sm_35_45 = {}
age_dic_sm_mayor45 = {}

age_dic_sm['Promociones'] = df_menor20['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm['Menu']= df_menor20['Preferencias SM'].str.count("Menu").sum()
age_dic_sm['Recetas y tips'] = df_menor20['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm['Horarios'] = df_menor20['Preferencias SM'].str.count("Horarios").sum()

age_dic_sm_20_35['Promociones'] = df_20_35['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_20_35['Menu']= df_20_35['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_20_35['Recetas y tips'] = df_20_35['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_20_35['Horarios'] = df_20_35['Preferencias SM'].str.count("Horarios").sum()

age_dic_sm_35_45['Promociones'] = df_35_45['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_35_45['Menu']= df_35_45['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_35_45['Recetas y tips'] = df_35_45['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_35_45['Horarios'] = df_35_45['Preferencias SM'].str.count("Horarios").sum()

age_dic_sm_mayor45['Promociones'] = df_mayor45['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_mayor45['Menu']= df_mayor45['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_mayor45['Recetas y tips'] = df_mayor45['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_mayor45['Horarios'] = df_mayor45['Preferencias SM'].str.count("Horarios").sum()


dict_list = [age_dic_sm, age_dic_sm_20_35, age_dic_sm_35_45, age_dic_sm_mayor45]
df_result = pd.DataFrame(dict_list, index=['Menor de 20','Entre 20 y 35', 'Entre 35 y 45', 'Mayor de 45'])
df_result

               Promociones  Menu  Recetas y tips  Horarios
Menor de 20            1.0   2.0             2.0       2.0
Entre 20 y 35         97.0  78.0            36.0      52.0
Entre 35 y 45         23.0  16.0            11.0      13.0
Mayor de 45           18.0  15.0            10.0       9.0

In [34]:
df_result = df_result.astype(int)
df_result.index.name='Edad'
df_result

               Promociones  Menu  Recetas y tips  Horarios
Edad
Menor de 20              1     2               2         2
Entre 20 y 35           97    78              36        52
Entre 35 y 45           23    16              11        13
Mayor de 45             18    15              10         9

### Save and Export

In [ ]:
#@title Save  Age vs SM Preferences
path_smpreferences = '/content/drive/My Drive/age_sm.csv'
df_result.to_csv(path_smpreferences, encoding='utf-8')

## Including the gender

In [37]:
df_rest.head

<bound method NDFrame.head of               Edad  ...                                   Preferencias SM
0    Entre 20 y 35  ...                Promociones;Recetas/Tips de cocina
1    Entre 35 y 45  ...                         Promociones;Menu;Horarios
2      Mayor de 45  ...                                       Promociones
3    Entre 20 y 35  ...                                       Promociones
4    Entre 20 y 35  ...  Promociones;Menu;Recetas/Tips de cocina;Horarios
..             ...  ...                                               ...
154  Entre 20 y 35  ...                                  Promociones;Menu
155  Entre 20 y 35  ...                                          Horarios
156  Entre 35 y 45  ...                                     Menu;Horarios
157  Entre 20 y 35  ...                                  Promociones;Menu
158  Entre 20 y 35  ...                                       Promociones

[159 rows x 11 columns]>

In [38]:
#@title Add gender column
df_complete = df_rest[['Edad', 'Genero', 'Preferencias SM']].copy()

df_complete

              Edad     Genero                                   Preferencias SM
0    Entre 20 y 35  Masculino                Promociones;Recetas/Tips de cocina
1    Entre 35 y 45  Masculino                         Promociones;Menu;Horarios
2      Mayor de 45   Femenino                                       Promociones
3    Entre 20 y 35   Femenino                                       Promociones
4    Entre 20 y 35  Masculino  Promociones;Menu;Recetas/Tips de cocina;Horarios
..             ...        ...                                               ...
154  Entre 20 y 35  Masculino                                  Promociones;Menu
155  Entre 20 y 35   Femenino                                          Horarios
156  Entre 35 y 45   Femenino                                     Menu;Horarios
157  Entre 20 y 35   Femenino                                  Promociones;Menu
158  Entre 20 y 35   Femenino                                       Promociones

[159 rows x 3 columns]

In [ ]:
dftest = df_complete.loc['Entre 20 y 35',:]
dftest

In [39]:
df_complete.describe()

                 Edad    Genero            Preferencias SM
count             159       159                        157
unique              4         2                         16
top     Entre 20 y 35  Femenino  Promociones;Menu;Horarios
freq              107        97                         32

In [40]:
df_complete.loc[(df_complete['Edad']=='Menor de 20') & (df_complete['Genero']=='Femenino')]

           Edad    Genero                                   Preferencias SM
42  Menor de 20  Femenino  Promociones;Menu;Recetas/Tips de cocina;Horarios
57  Menor de 20  Femenino              Menu;Recetas/Tips de cocina;Horarios

In [41]:
#@title Dataframe preferences by age and gender
df_menor20f = df_complete.loc[(df_complete['Edad']=='Menor de 20') & (df_complete['Genero']=='Femenino')]
df_menor20m = df_complete.loc[(df_complete['Edad']=='Menor de 20') & (df_complete['Genero']=='Masculino')]
df_20_35f = df_complete.loc[(df_complete['Edad']=='Entre 20 y 35') & (df_complete['Genero']=='Femenino')]
df_20_35m = df_complete.loc[(df_complete['Edad']=='Entre 20 y 35') & (df_complete['Genero']=='Masculino')]
df_35_45f = df_complete.loc[(df_complete['Edad']=='Entre 35 y 45') & (df_complete['Genero']=='Femenino')]
df_35_45m = df_complete.loc[(df_complete['Edad']=='Entre 35 y 45') & (df_complete['Genero']=='Masculino')]
df_mayor_45f = df_complete.loc[(df_complete['Edad']=='Mayor de 45') & (df_complete['Genero']=='Femenino')]
df_mayor_45m = df_complete.loc[(df_complete['Edad']=='Mayor de 45') & (df_complete['Genero']=='Masculino')]


df_menor20f, df_20_35f, df_20_35m

(           Edad    Genero                                   Preferencias SM
 42  Menor de 20  Femenino  Promociones;Menu;Recetas/Tips de cocina;Horarios
 57  Menor de 20  Femenino              Menu;Recetas/Tips de cocina;Horarios,
               Edad    Genero              Preferencias SM
 3    Entre 20 y 35  Femenino                  Promociones
 12   Entre 20 y 35  Femenino                  Promociones
 14   Entre 20 y 35  Femenino         Promociones;Horarios
 21   Entre 20 y 35  Femenino  Menu;Recetas/Tips de cocina
 22   Entre 20 y 35  Femenino    Promociones;Menu;Horarios
 ..             ...       ...                          ...
 149  Entre 20 y 35  Femenino    Promociones;Menu;Horarios
 153  Entre 20 y 35  Femenino    Promociones;Menu;Horarios
 155  Entre 20 y 35  Femenino                     Horarios
 157  Entre 20 y 35  Femenino             Promociones;Menu
 158  Entre 20 y 35  Femenino                  Promociones

 [69 rows x 3 columns],
               Edad     Genero                                   Preferencias SM
 0    Entre 20 y 35  Masculino                Promociones;Recetas/Tips de cocina
 4    Entre 20 y 35  Masculino  Promociones;Menu;Recetas/Tips de cocina;Horarios
 8    Entre 20 y 35  Masculino  Promociones;Menu;Recetas/Tips de cocina;Horarios
 9    Entre 20 y 35  Masculino                                               NaN
 16   Entre 20 y 35  Masculino  Promociones;Menu;Recetas/Tips de cocina;Horarios
 17   Entre 20 y 35  Masculino                                  Promociones;Menu
 18   Entre 20 y 35  Masculino                              Promociones;Horarios
 19   Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 20   Entre 20 y 35  Masculino  Promociones;Menu;Recetas/Tips de cocina;Horarios
 33   Entre 20 y 35  Masculino                                       Promociones
 49   Entre 20 y 35  Masculino                                  Promociones;Menu
 51   Entre 20 y 35  Masculino                                       Promociones
 53   Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 56   Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 71   Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 75   Entre 20 y 35  Masculino           Promociones;Menu;Recetas/Tips de cocina
 80   Entre 20 y 35  Masculino  Promociones;Menu;Recetas/Tips de cocina;Horarios
 85   Entre 20 y 35  Masculino                                  Promociones;Menu
 87   Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 90   Entre 20 y 35  Masculino                                  Promociones;Menu
 95   Entre 20 y 35  Masculino                                  Promociones;Menu
 104  Entre 20 y 35  Masculino                Promociones;Recetas/Tips de cocina
 105  Entre 20 y 35  Masculino                                     Menu;Horarios
 106  Entre 20 y 35  Masculino                                              Menu
 111  Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 112  Entre 20 y 35  Masculino           Promociones;Menu;Recetas/Tips de cocina
 116  Entre 20 y 35  Masculino                                  Promociones;Menu
 117  Entre 20 y 35  Masculino                                  Promociones;Menu
 120  Entre 20 y 35  Masculino           Promociones;Menu;Recetas/Tips de cocina
 129  Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 130  Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 139  Entre 20 y 35  Masculino                    Recetas/Tips de cocina;Precios
 142  Entre 20 y 35  Masculino           Promociones;Menu;Recetas/Tips de cocina
 144  Entre 20 y 35  Masculino                              Promociones;Horarios
 147  Entre 20 y 35  Masculino                                       Promociones
 150  Entre 20 y 35  Masculino           Promociones;Menu;Recetas/Tips de cocina
 152  Entre 20 y 35  Masculino                         Promociones;Menu;Horarios
 154  Entre 20 y 35  Masculino                                  Promociones;Menu)

### FREQUENCIES: Transform to a dicionary and dataframe

In [42]:
#@title Filtering the dataset
age_dic_sm_f = {}
age_dic_sm_m = {}
age_dic_sm_20_35f = {}
age_dic_sm_20_35m = {}
age_dic_sm_35_45f = {}
age_dic_sm_35_45m = {}
age_dic_sm_mayor45f = {}
age_dic_sm_mayor45m = {}

#Menor de 20 Femenino
age_dic_sm_f['Promociones'] = df_menor20f['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_f['Menu']= df_menor20f['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_f['Recetas y tips'] = df_menor20f['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_f['Horarios'] = df_menor20f['Preferencias SM'].str.count("Horarios").sum()

#Menor de 20 masculino
age_dic_sm_m['Promociones'] = df_menor20m['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_m['Menu']= df_menor20m['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_m['Recetas y tips'] = df_menor20m['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_m['Horarios'] = df_menor20m['Preferencias SM'].str.count("Horarios").sum()

#Entre 20 y 35 femenino

age_dic_sm_20_35f['Promociones'] = df_20_35f['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_20_35f['Menu']= df_20_35f['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_20_35f['Recetas y tips'] = df_20_35f['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_20_35f['Horarios'] = df_20_35f['Preferencias SM'].str.count("Horarios").sum()

#Entre 20 y 35 masculino
age_dic_sm_20_35m['Promociones'] = df_20_35m['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_20_35m['Menu']= df_20_35m['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_20_35m['Recetas y tips'] = df_20_35m['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_20_35m['Horarios'] = df_20_35m['Preferencias SM'].str.count("Horarios").sum()

#Entre 35 y 45 femenino

age_dic_sm_35_45f['Promociones'] = df_35_45f['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_35_45f['Menu']= df_35_45f['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_35_45f['Recetas y tips'] = df_35_45f['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_35_45f['Horarios'] = df_35_45f['Preferencias SM'].str.count("Horarios").sum()

#Entre 35 y 45 masculino
age_dic_sm_35_45m['Promociones'] = df_35_45m['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_35_45m['Menu']= df_35_45m['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_35_45m['Recetas y tips'] = df_35_45m['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_35_45m['Horarios'] = df_35_45m['Preferencias SM'].str.count("Horarios").sum()

age_dic_sm_mayor45f['Promociones'] = df_mayor_45f['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_mayor45f['Menu']= df_mayor_45f['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_mayor45f['Recetas y tips'] = df_mayor_45f['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_mayor45f['Horarios'] = df_mayor_45f['Preferencias SM'].str.count("Horarios").sum()

age_dic_sm_mayor45m['Promociones'] = df_mayor_45m['Preferencias SM'].str.count("Promociones").sum()
age_dic_sm_mayor45m['Menu']= df_mayor_45m['Preferencias SM'].str.count("Menu").sum()
age_dic_sm_mayor45m['Recetas y tips'] = df_mayor_45m['Preferencias SM'].str.count("Recetas").sum()
age_dic_sm_mayor45m['Horarios'] = df_mayor_45m['Preferencias SM'].str.count("Horarios").sum()

age_dic_sm_20_35f, age_dic_sm_35_45m

({'Horarios': 35.0, 'Menu': 49.0, 'Promociones': 63.0, 'Recetas y tips': 23.0},
 {'Horarios': 7, 'Menu': 7, 'Promociones': 13, 'Recetas y tips': 4})

### Gender classification and Social Media Preferences

In [43]:
#@title Set the age gender sm dataframe
dict_list = [age_dic_sm_f, age_dic_sm_m, age_dic_sm_20_35f, age_dic_sm_20_35m, age_dic_sm_35_45f, age_dic_sm_35_45m,age_dic_sm_mayor45f, age_dic_sm_mayor45m]
dict_list
#f_result = pd.DataFrame(dict_list, index=['Menor de 20','Entre 20 y 35', 'Entre 35 y 45', 'Mayor de 45'])

[{'Horarios': 2, 'Menu': 2, 'Promociones': 1, 'Recetas y tips': 2},
 {'Horarios': 0, 'Menu': 0, 'Promociones': 0, 'Recetas y tips': 0},
 {'Horarios': 35.0, 'Menu': 49.0, 'Promociones': 63.0, 'Recetas y tips': 23.0},
 {'Horarios': 17.0, 'Menu': 29.0, 'Promociones': 34.0, 'Recetas y tips': 13.0},
 {'Horarios': 6, 'Menu': 9, 'Promociones': 10, 'Recetas y tips': 7},
 {'Horarios': 7, 'Menu': 7, 'Promociones': 13, 'Recetas y tips': 4},
 {'Horarios': 8, 'Menu': 9, 'Promociones': 11, 'Recetas y tips': 7},
 {'Horarios': 1, 'Menu': 6, 'Promociones': 7, 'Recetas y tips': 3}]

In [44]:
df_final = pd.DataFrame(dict_list).astype(int)
df_final

   Promociones  Menu  Recetas y tips  Horarios
0            1     2               2         2
1            0     0               0         0
2           63    49              23        35
3           34    29              13        17
4           10     9               7         6
5           13     7               4         7
6           11     9               7         8
7            7     6               3         1

In [45]:
gender = ['Femenino', 'Masculino']
df_final['Genero'] = gender*4

In [46]:
df_final

   Promociones  Menu  Recetas y tips  Horarios     Genero
0            1     2               2         2   Femenino
1            0     0               0         0  Masculino
2           63    49              23        35   Femenino
3           34    29              13        17  Masculino
4           10     9               7         6   Femenino
5           13     7               4         7  Masculino
6           11     9               7         8   Femenino
7            7     6               3         1  Masculino

In [47]:
#@title Adding the age
age1 = 2*['Menor de 20']+2*['Entre 20 y 35']+2*['Entre 16 y 45']+2*['Mayor de 45']
df_final['Edad']=age1
df_final

   Promociones  Menu  Recetas y tips  Horarios     Genero           Edad
0            1     2               2         2   Femenino    Menor de 20
1            0     0               0         0  Masculino    Menor de 20
2           63    49              23        35   Femenino  Entre 20 y 35
3           34    29              13        17  Masculino  Entre 20 y 35
4           10     9               7         6   Femenino  Entre 16 y 45
5           13     7               4         7  Masculino  Entre 16 y 45
6           11     9               7         8   Femenino    Mayor de 45
7            7     6               3         1  Masculino    Mayor de 45

In [48]:
#@title Set index
df_final = df_final.set_index(['Edad']).sort_index()
df_final

               Promociones  Menu  Recetas y tips  Horarios     Genero
Edad
Entre 16 y 45           10     9               7         6   Femenino
Entre 16 y 45           13     7               4         7  Masculino
Entre 20 y 35           63    49              23        35   Femenino
Entre 20 y 35           34    29              13        17  Masculino
Mayor de 45             11     9               7         8   Femenino
Mayor de 45              7     6               3         1  Masculino
Menor de 20              1     2               2         2   Femenino
Menor de 20              0     0               0         0  Masculino

In [49]:
#@title Frequency for Social Media Preferences
freq_promo = df_final['Promociones'].sum()
freq_menu = df_final['Menu'].sum()
freq_recetas = df_final['Recetas y tips'].sum()
freq_horarios = df_final['Horarios'].sum()
sm_freq = {}
sm_freq['Promociones'] = freq_promo
sm_freq['Menu'] = freq_menu
sm_freq['Recetas y tips'] = freq_recetas
sm_freq['Horarios'] = freq_horarios
dict_sm_freq = pd.DataFrame(sm_freq.items(), columns=['Preferencias SM', 'Frequencia'])
dict_sm_freq

  Preferencias SM  Frequencia
0     Promociones         139
1            Menu         111
2  Recetas y tips          59
3        Horarios          76

### Save and Export

In [ ]:
#@title Save and export social media frequencies preferences
dict_sm_freq.to_csv('/content/drive/My Drive/smpref_freq.csv', encoding='utf-8', index=False)

In [ ]:
#@title Save and export age and gender social media preferences
path_10 = '/content/drive/My Drive/age_gendersm.csv'
df_final.to_csv(path_10, encoding='utf-8')

## DELIVERY PREFERENCES BY AGE

In [ ]:
df_read.columns

In [ ]:
#@title People who choose delivery
domi_df = df_read[['Edad', 'Genero', 'Medio Favorito Para Ordenar']].copy()
domi_df

In [ ]:
domi_df.set_index(['Genero','Medio Favorito Para Ordenar']).sort_index()

In [ ]:
df_stats1 = domi_df.set_index(['Medio Favorito Para Ordenar']).sort_index()
df_stats1

### Save and Export

In [ ]:
df_stats1.to_csv(dir_pandas)

In [ ]:
df_stats1.to_excel(dir_pandas)